body {
    font-family: verdana;
    background-color: #10151C;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

nav {
    background-color: #1A2129;
    width: 100%;
    height: 36px;
    bottom: 0;
    left: 0;
}

.modal {
    border-radius: 15px 0px 0px 15px;
    background-color: #2F3844;
    position: relative;
    width: 478px;
    height: 478px;
    top: 19px;
    left: 194px;
}

.titulo-inicial {
    position: relative;
    top: 45px;
    left: 131px;
    width: 212px;
}

.subtitulo-inicial {
    position: relative;
    top: 66px;
    left: 28px;
    width: 412px;
    text-align: center;
}

.form-control {
    position: relative;
    top: 170px;
    left: 81px;
    width: 297px;
    height: 47px;
    border-radius: 28px;
    color: black;
    border-color: #3B40FD;
    outline: none;
    box-shadow: 5px 4px 8px black;
}

.flecha-env {
    position: relative;
    top: 190px;
    left: -1px;
    border: none;
    border-radius: 28px;
    width: 76px;
    height: 49px;
    background-color: #3B40FD;
    cursor: pointer;
}

.modal-foto {
    border-radius: 0px 15px 15px 0px;
    background-color: #CFCACA;
    position: relative;
    width: 478px;
    height: 478px;
    top: -459px;
    left: 672px;
}

.img-principal {
    position: relative;
    top: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 478px;
    width: 478px;
}

footer {
    background-color: #1A2129;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.icon-footer {
    position: relative;
    top: 6px;
    left: 45px;
}

.txt-footer {
    position: relative;
    top: -17px;
    font-size: 9px;
    left: 59px;
    width: 197px;
}

.privacy {
    position: relative;
    top: -37px;
    font-size: 9px;
    left: 217px;
    width: 33px;
    color: #3B40FD;
}

.icon-insta {
    position: relative;
    top: -59px;
    left: 641px;
    width: 17px;
    cursor: pointer;
}

.icon-github {
    position: relative;
    top: -59px;
    left: 641px;
    width: 17px;
    cursor: pointer;
}
